{% extends "home-base.html"%}
{% block title %}About me{% endblock %}

{% block head%}
  {{ super() }}

{% endblock%}

{% block page_content%}
  <!-- Page Content -->
  <div class="container">
    <h1 class="mt-5">About Me</h1>
    <ul class ="list-unstyled">
      <li><i class="fa fa-envelope" aria-hidden="true"></i> : haifengwang5225@gmail.com</li>
      <li><i class="fa fa-wechat" aria-hidden="true"></i> : whf5225</li>
      <li><i class="fa fa-phone" aria-hidden="true"></i> : 302-766-5518</li>
    </ul>

  </div>
{% endblock%}
